.book-event {
  height: 50px;
  padding: 0px 40px;
  border: 3px solid white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 22px;
  color: white;
  letter-spacing: 4px;
  cursor: pointer;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -ms-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
  background-color: rgba(0, 0, 0, 0.493);

  &:hover {
    background-color: rgb(99, 201, 204);
    border: none;
  }
}

@media all and (min-width: 768px) {
  .book-event {
    height: 50px;
    font-size: 22px;
    letter-spacing: 4px;
  }
}

@media all and (min-width: 480px) and (max-width: 768px) {
  .book-event {
    height: 40px;
    font-size: 18px;
    letter-spacing: 3px;
  }
}

@media all and (max-width: 480px) {
  .book-event {
    height: 34px;
    font-size: 16px;
    letter-spacing: 3px;
  }
}
