.title-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;

  .title {
    margin: 80px 0px 50px;
    padding: 0px 0px 20px;
    text-transform: uppercase;
    transform: scale(0.75, 1);
    color: rgb(39, 35, 35);
    border-bottom: 3px solid rgb(101, 187, 190);

    span {
      font-size: 65px;
      font-weight: bolder;
    }
  }
}
