.step {
  display: flex;
  flex-direction: column;
  align-items: center;
    .index {
        font-size: 80px;
        font-weight: bolder;
        transform: scale(0.75, 1);
      }
    
      .icon {
        font-size: 70px;
        color: rgb(81, 167, 170);
        margin: 30px 0px 0px;
      }
    
      .title {
        font-size: 50px;
        text-transform: uppercase;
        transform: scale(0.75, 1);
        font-weight: 100;
        color: black;
        text-align: center;
      }
    
      .plan-description {
        font-weight: 100;
        text-align: center;
        max-width: 200px;
        margin: 30px 0px;
        font-size: 16px;
      }
}