@import 'basics/text';

.about {
  min-height: 720px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;

  .about-content {
    width: 800px;
    text-align: center;
    p {
      font-size: 25px;
      color: $textColor;

      b {
        text-transform: uppercase;
        color: rgb(39, 39, 39);
      }
    }
  }
}
