@import 'basics/text';

.contact {
  min-height: 700px;
  background-color: rgba(237, 235, 243, 0.938);

  .address {
    color: black;
    text-align: center;
    font-size: 18px;
    font-weight: 100;
    margin: 0px 0px 70px 0px;
  }

  .subscribe {
    p {
      font-size: $fontNormalSize + 1;
    }

    input,
    button {
      width: 300px;
      height: 40px;
      border-radius: 0px;
      margin-bottom: 10px;
      text-transform: capitalize;
      border: none;
    }

    button {
      background-color: $AugventsNormal;
      color: white;
      cursor: pointer;
    }

    input {
      background-color: rgba(163, 163, 163, 0.11);

      &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: $placeHolderColor;
        opacity: 1; /* Firefox */
      }
      
      &:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: $placeHolderColor;
      }
      
      &::-ms-input-placeholder { /* Microsoft Edge */
        color: $placeHolderColor;
      }
    }
  }
}
