$textColor: rgb(91, 185, 189);


.footer-block {
  bottom: 0px;
  height: 100px;
  background-color: rgb(49, 49, 49);
  ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    li {
      color: $textColor;
      margin: 0px 200px;
      padding: 15px 10px 0px;
      cursor: pointer;
      -webkit-transition: color 0.5s;
      -moz-transition: color 0.5s;
      -ms-transition: color 0.5s;
      -o-transition: color 0.5s;
      transition: color 0.5s;
      &:hover{
          color: white;
      }
    }
  }
}
