@import 'basics/text';

.footer-block {
  bottom: 0px;
  min-height: 140px;
  background-color: rgb(49, 49, 49);
  ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    li {
      color: $AugventsLight;
      padding: 15px 10px 0px;
    }

    .link {
      cursor: pointer;
      -webkit-transition: color 0.5s;
      -moz-transition: color 0.5s;
      -ms-transition: color 0.5s;
      -o-transition: color 0.5s;
      transition: color 0.5s;
      &:hover{
          color: white;
      }
    }
  }
}

@media all and (min-width: 768px) {
  .footer-block{
    padding: 0px 160px;
  }
}

