.steps {
    background-color: rgba(219, 215, 233, 0.856);
    height: 1000px;
    color: black;

    .step {
      font-size: 80px;
      font-weight: bolder;
      transform: scale(0.75, 1);
    }

    .icon {
      font-size: 70px;
      color: rgb(41, 136, 121);
    }

    span {
      font-size: 50px;
      text-transform: uppercase;
      transform: scale(0.75, 1);
      font-weight: 100;
      color: black;
    }

    .plan-description {
      font-weight: 100;
      text-align: center;
      width: 200px;
      margin: 60px 0px;
      font-size: 18px;
    }
  }