
.myVideo {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  top: 0px;
  z-index: -1;
}

.home {
  min-height: 4900px;

  .slider {
    z-index: 100;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    align-items: center;
  }


}
