
// Colors
$textColor: rgb(71, 71, 71);
$placeHolderColor: rgb(133, 130, 130);
$AugventsNormal: rgb(81, 167, 170);
$AugventsLight: rgb(62, 204, 181);


// Size
$fontNormalSize: 16px;
$fontMediumSize: 25px;