
// Colors
$textColor: rgb(71, 71, 71);
$placeHolderColor: rgb(129, 127, 127);
$AugventsNormal: rgb(81, 167, 170);
$AugventsLight: rgb(62, 204, 181);
$AugventsDark: rgb(41, 136, 121);

// Size
$fontNormalSize: 16px;
$fontMediumSize: 25px;